<div class="container">
  <mat-card>
    <h1>{{questionModel?.question}}</h1>
    <mat-radio-group [formControl]="answer"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group">
      <mat-radio-button *ngFor="let answer of questionModel?.answers" [value]="answer.isCorrect"
                        [ngClass]="answer.isCorrect && confirmAnswer ? 'right' : ''">{{answer.title}}</mat-radio-button>
    </mat-radio-group>
    <div class="row-next">
    <button mat-raised-button [disabled]="index == 1" (click)="previousQuestion()" >previous</button>
    <button mat-raised-button [disabled]="index == 5"  color="primary" (click)="nextQuestion(questionModel.point)" >next</button>
    </div>
  </mat-card>
</div>
