<div class="container">
<mat-card>
  <h1 >Pick your favorite season</h1>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button class="example-radio-button">{{'season'}}</mat-radio-button>
    <mat-radio-button class="example-radio-button">{{'season'}}</mat-radio-button>
    <mat-radio-button class="example-radio-button">{{'season'}}</mat-radio-button>
    <mat-radio-button class="example-radio-button">{{'season'}}</mat-radio-button>
  </mat-radio-group>
</mat-card>
</div>
