<div [formGroup]="formRegister" class="container">
  <mat-card>
    <h1 class="center-align">Register Account</h1>
    <div  class="center-align">
      <mat-form-field  class="w-50">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput
               placeholder="Ex. pat@example.com">
      </mat-form-field>
    </div>
    <div  class="center-align">
      <mat-form-field class="w-50">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput
               placeholder="*********">
      </mat-form-field>
    </div>
    <div class="center-align">
      <button mat-raised-button color="primary" (click)="register()">register</button>
    </div>
    <div id="mt-12" class="center-align">
      <span [routerLink]="'/'" id="signIn">I  have an account</span>
    </div>
  </mat-card>
</div>

