<div [formGroup]="formRegister" class="container-login">
  <img class="logo" src="assets/img/logo.png">
  <div>
    <p class="text-EEE">User name</p>
    <input formControlName="email" type="email" placeholder="Email@example.com">
  </div>
  <div class="mt-4">
    <p class="text-EEE">Password</p>
    <input formControlName="password" type="password" placeholder="******">
  </div>
  <div class="mt-4">
    <p class="text-EEE">I have an account <span class="text-pink cursor-pointer" [routerLink]="''"> Sign in here </span></p>
  </div>
  <div class="mt-4">
    <button (click)="register()" class="btn-yellow cursor-pointer">Register</button>
  </div>
</div>
