<div [formGroup]="loginForm" class="container-login">
  <img class="logo" src="assets/img/logo.png">
  <div>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput
             placeholder="Ex. pat@example.com">
    </mat-form-field>
  </div>
  <div class="mt-4">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput
             placeholder="****">
    </mat-form-field>
  </div>
  <div class="mt-4">
    <p >Not a member ? <span class="text-pink cursor-pointer" [routerLink]="'register'"> Sign up now </span></p>
  </div>
  <div class="mt-4">
    <button (click)="logIn()" class="btn-yellow cursor-pointer">Login</button>
  </div>
</div>
