/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  padding: 24px;
  background: #EDE8E3;
  height: 90vh;
}

body * {
  font-family: cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 99vh;
  margin: auto;
}

@media (max-width: 700px) {
  .container {
    max-width: 90%;
    height: 99vh;
    margin: auto;
  }
}

.center-align {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}


.mat-card {
  width: 100%;
}

.text-EEE {
  color:#EEEFF2;
  margin-bottom: 5px;
}
.text-pink {
  color: #FF6A88;
}
input {
  border-radius: 20px;
  border: 1px solid #EEEFF2;
  color: #EEEFF2;
  outline: none;
  background: #4A7B79;
  width: 383px;
  padding: 8px 13px;
}

input::placeholder{
  color: #FFFFFF21;
}
input[type="radio"] {
  width: 19px;
  margin: 0;
}

.mt-4{
  margin-top: 24px;
}

.btn-yellow{
  border-radius: 20px;
  background: #F8C660;
  border: hidden;
  padding: 11px 110px;
}

.btn-yellow:disabled{
  border-radius: 20px;
  background: #949393C6;
  border: hidden;
  padding: 11px 110px;
  color: #EEEFF2;
}

.cursor-pointer {
  cursor: pointer;
}
.m-0{
  margin: 0 !important;
}
